@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', sans-serif;
  line-height: 1.8;
  color: #333;
  overflow-x: hidden;
  max-width: 1920px;
}
