@charset "UTF-8";
.contact__inner, .faq__inner, .features__inner, .mainvisual__inner, .price__inner {
  margin: 0 auto;
  max-width: 1022px;
  width: 95%;
}

.form__submit-btn, .thanks__btn, .mainvisual__btn {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to right, #FA41CC, #6020B0);
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  display: inline-block;
  font-weight: bold;
  height: 37px;
  line-height: 37px;
  min-width: 157px;
  text-align: center;
}

.blog__heading, .contact__heading, .faq__heading, .features__heading--big, .price__heading, .works__heading {
  font-size: 2rem;
  text-align: center;
}

.blog__heading span, .contact__heading span, .faq__heading span, .features__heading--big span, .price__heading span, .works__heading span {
  color: #3BA6C9;
  display: block;
  font-size: 1rem;
}

.blog {
  background-color: #EEFBFB;
  overflow: hidden;
  padding-bottom: 91px;
  width: 100%;
}

.blog__heading {
  margin: 55px 0;
}

.blog__article {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1366px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .blog__article {
    display: block;
  }
}

.card-blog {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  width: 30%;
  max-width: 389px;
}

@media screen and (max-width: 767px) {
  .card-blog {
    margin: 0 auto 30px;
    width: 80%;
    max-width: initial;
  }
}

.card-blog:hover {
  -webkit-transform: translateY(-3px);
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.317);
  -webkit-transition: all .3s;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.317);
  transform: translateY(-3px);
  transition: all .3s;
}

.card-blog__img {
  width: 100%;
}

.card-blog__body {
  background-color: #fff;
  height: 127px;
  padding: 14px 24px 10px 18px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .card-blog__body {
    padding: 10px;
  }
}

.card-blog__title {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .card-blog__title {
    font-size: 1rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1279px) {
  .card-blog__br {
    display: none;
  }
}

.card-blog__time {
  bottom: 10px;
  margin: 0;
  position: absolute;
  right: 24px;
}

.card-blog__link {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-blog:nth-of-type(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.card-blog:nth-of-type(3) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.contact {
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), to(#63FBD7));
  background: linear-gradient(to right, #05A5FA, #63FBD7);
  overflow: hidden;
  width: 100%;
}

.contact__heading {
  color: #fff;
  margin: 63px 0 36px;
}

.contact__heading span {
  color: #fff;
}

.contact__text {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.form {
  background-color: #fff;
  margin: 44px auto 70px;
  max-width: 908px;
  padding: 35px 62px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .form {
    padding: 25px;
  }
}

.form__label {
  font-weight: bold;
}

.form__label span {
  background-color: #0C449B;
  border-radius: 10px;
  color: #fff;
  font-size: 0.875rem;
  margin-left: 23px;
  padding: 4px 16px 6px;
}

.form__field {
  margin: 35px 0 20px;
}

.form__input {
  background-color: #EEFBFB;
  border: none;
  border-radius: 3px;
  display: inline-block;
  height: 43px;
  max-width: 500px;
  padding: 0;
  width: 100%;
}

.form__textarea {
  background-color: #EEFBFB;
  border: none;
  border-radius: 3px;
  display: inline-block;
  height: 179px;
  padding: 0;
  resize: none;
  width: 100%;
}

.form__wrapper--middle {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.form__checkbox {
  -webkit-transform: scale(1.5);
  margin-right: 10px;
  transform: scale(1.5);
}

.form__wrapper--bottom {
  text-align: center;
}

.form__submit-btn {
  cursor: pointer;
}

.form__submit-btn:disabled {
  cursor: default;
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .form__submit-btn {
    height: 48px;
    line-height: 48px;
    width: 70%;
  }
}

.js-false {
  display: none;
}

.thanks {
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  align-items: center;
  background: #EEFBFB;
  border-radius: 8px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
  width: 90%;
}

.thanks__wrapper {
  font-weight: bold;
  padding: 60px 30px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .thanks__wrapper {
    padding: 20px;
  }
}

.thanks__heading {
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .thanks__heading {
    font-size: 2rem;
  }
}

.thanks__text {
  color: #585757;
  font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
  .thanks__text {
    font-size: 1rem;
  }
}

.thanks__btn {
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  width: 25%;
}

@media screen and (max-width: 767px) {
  .thanks__btn {
    height: 48px;
    line-height: 48px;
    width: 70%;
  }
}

.faq {
  margin: 56px auto 81px;
}

.faq__heading {
  margin-bottom: 32px;
}

.accordion__title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 20px 15px;
  position: relative;
  text-align: center;
  user-select: none;
}

.accordion__title:nth-of-type(3) {
  border-bottom: 1px solid #E5E5E5;
}

.accordion__title.is-active::before {
  opacity: 0;
}

.accordion__title.is-active::after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.accordion__content {
  -webkit-transition-duration: .3s;
  font-size: 0.875rem;
  font-weight: bold;
  height: 0;
  line-height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 35px;
  transition-duration: .3s;
}

@media screen and (max-width: 767px) {
  .accordion__content {
    padding: 0 15px;
  }
}

.accordion__content.is-open {
  background-color: #F2F2F2;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  color: #444;
  height: auto;
  line-height: 1.8;
  margin: 0;
  opacity: 1;
  padding: 17px 35px;
}

@media screen and (max-width: 767px) {
  .accordion__content.is-open {
    padding: 17px 15px;
  }
}

.features__inner {
  overflow: hidden;
}

.features__heading--big {
  margin-bottom: 57px;
}

.features__heading--big br {
  display: none;
}

@media screen and (max-width: 767px) {
  .features__heading--big br {
    display: block;
  }
}

.features__item {
  font-weight: bold;
  width: 100%;
}

.features__item:nth-of-type(1) {
  margin-bottom: 86px;
}

.features__item:nth-of-type(2) {
  margin-bottom: 136px;
}

.features__item:nth-of-type(3) {
  margin-bottom: 156px;
}

.features__heading--small {
  font-size: 1.75rem;
  text-align: center;
}

.features__flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .features__flex {
    display: block;
    text-align: center;
  }
}

.features__flex--reverse {
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .features__flex--reverse {
    display: block;
    text-align: center;
  }
}

.features__figure {
  height: auto;
  margin: 0;
  width: 45%;
}

@media screen and (max-width: 767px) {
  .features__figure {
    height: auto;
    width: 100%;
  }
}

.features__text {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .features__text {
    text-align: center;
    width: 100%;
  }
}

.features__title {
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .features__title {
    font-size: 1.19rem;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .features__title span{
    display: block;
  }
}

.features__desc {
  line-height: 1.6;
}

@media screen and (max-width: 767px) {
  .features__desc {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1279px) {
  .features__desc br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .features__desc br {
    display: block;
  }
}

.mainvisual {
  background-image: url("../../img/楕円形 1.svg");
  background-position: top -145px right -70px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 71px;
  margin-top: 94px;
}

.mainvisual__inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  height: 674px;
  justify-content: space-between;
  padding-left: 20px;
}

@media screen and (max-width: 767px) {
  .mainvisual__inner {
    padding: 0;
  }
}

.mainvisual .mainvisual__text--big, .mainvisual .mainvisual__text--small {
  font-weight: bold;
  margin-bottom: 44px;
}

.mainvisual__text {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .mainvisual__text {
    margin: 0 auto;
    text-align: center;
  }
}

.mainvisual__text--big {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .mainvisual__text--big {
    font-size: 1.81rem;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual__text--small {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 767px) {
  .mainvisual__btn {
    height: 48px;
    line-height: 48px;
    width: 70%;
  }
}

.mainvisual__main {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .mainvisual__main {
    display: none;
  }
}

.mainvisual__img {
  max-width: 518px;
  width: 100%;
}

.price {
  background-color: #EEFBFB;
  overflow: hidden;
  text-align: center;
}

.price__heading {
  margin: 55px 0 70px 0;
}

.price__table {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  margin: 0 auto;
  max-width: 926px;
  width: 100%;
}

.price__table-head {
  border: 1px solid #E5E5E5;
  padding: 35px 10px;
  width: 31%;
}

.price__table-data {
  border: 1px solid #E5E5E5;
  padding: 35px 0 35px 33px;
  text-align: left;
  width: 69%;
}

.price__text {
  margin: 36px 0 68px 0;
}

.works {
  height: 700px;
  margin-top: 100px;
}

.works__heading {
  margin: 55px 0 68px;
}

.works__container {
  padding-bottom: 40px;
}

.card-works {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-right: 56px;
  max-width: 322px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .card-works {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .card-works {
    margin-right: 5px;
  }
}

.card-works:hover {
  -webkit-transform: translateY(-3px);
  -webkit-box-shadow: 0 7px 14px  #00000051;
  -webkit-transition: all .3s;
  box-shadow: 0 7px 14px  #00000051;
  transform: translateY(-3px);
  transition: all .3s;
}

.card-works__img {
  width: 100%;
}

.card-works__body {
  padding: 19px 16px 30px 40px;
}

.card-works__title {
  font-size: 1rem;
}

.card-works__text {
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 30px;
}

.card-works__link {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
